body {
    background-color: #ADD8E6; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

form {
    background-color: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
    width: 400px; 
    box-sizing: border-box; 
}

.grupo {
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 15px; 
}

.campo {
    flex: 1; 
    min-width: 180px; 
    margin-right: 15px; 
}

.campo:last-child {
    margin-right: 0; 
}

label {
    margin-bottom: 5px; 
    display: block; 
}

input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
}

#cadastrar {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    padding: 10px; 
    border-radius: 4px; 
    cursor: pointer; 
    width: 100%; 
}

#cadastrar:hover {
    background-color: #0056b3; 
}

#voltar {
    background-color: #132faa; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 4px; 
    cursor: pointer; 
}

#voltar:hover {
    background-color: #132faa73; 
}
