body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

#menu {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: fixed;
}

#menu a {
    display: block;
    margin: 15px 0;
    text-decoration: none;
    color: #333;
    font-size: 20px; 
}

#menu a:hover {
    background-color: #e0e0e0;
}

#content {
    margin-left: 220px; 
    padding: 20px;
    overflow-y: auto;
    height: 100vh; 
}

.hidden {
    display: none;
}

#profile, #agendamento, #historico {
    display: none; 
}

#profile.active, #agendamento.active, #historico.active {
    display: block; 
}

h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

#profile {
    margin-left: 20px; 
}

#agendamento {
    margin-left: 20px; 
}

.campo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.info {
    width: 48%; 
}

.label {
    display: block;
    font-size: 16px; 
    color: #555;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 5px;
    box-sizing: border-box; 
}

.input[readonly] {
    background-color: #f0f0f0; 
}

#agendarButton {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px; 
    border: none;
    cursor: pointer;
}

#agendarButton:hover {
    background-color: darkgreen; 
}

.cancelarButton {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.cancelarButton:hover {
    background-color: darkred;
}

.status-agendado {
    color: rgb(23, 158, 23);
}

.status-realizada {
    color: blue;
}

.status-cancelada {
    color: red;
}

h1 {
    font-size: 40px; 
    margin: 20px 0; 
    color: #092ca0; 
}

#medicos {
    margin-top: 20px; 
}

.medico-info {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 15px; 
    margin-bottom: 15px; 
    background-color: #f9f9f9; 
}

.consulta-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-left: 20px; 
}

.consulta {
    flex: 1 1 calc(33.33% - 10px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    background-color: #f9f9f9; 
    border-radius: 5px; 
    text-align: center;
}

